

*{
    margin: 0;
    padding: 0;


    /* Global Variables */
    --square: 25px;
    --tile-width: var(--square);
    --tile-height:  var(--square);
}
.settings {
  width: 300px;
  background-color: grey;
}
#console {
  background-color: rgb(199, 199, 199);
  width: 100%;
  min-height: 100px;
}

.tileContainer {
  margin:0;
  padding:5px;
  display: flex;
  list-style: none;
}
.tile {
  
  background-color: black;
  height: var(--tile-height);
  width: var(--tile-width);
}
#player {
  background-color: red;
  color: white;
  position: absolute;
  height: var(--tile-height);
  width: var(--tile-width);
}
.city {
  background-color: rgb(0, 24, 70);
  border:1px solid white;
  color: white;
  position: absolute;
  height: calc(var(--tile-height)*5);
  width: calc(var(--tile-width)*5);

}
.city ~ div{
  font-size: 0px;
  
}
.city:nth-child(1){
  
  font-weight: 800;
  
}

.village {
  background-color: blue;
  color: white;
  position: absolute;
  height: var(--tile-height);
  width: var(--tile-width);
}
.merchant{

  background-color: green;
  color: white;
  position: absolute;
  height: var(--tile-height);
  width: var(--tile-width);
}
.merchant p {
  display: none;
}
.merchant-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 350px;
}
.merchant-card button {
  width: 100px;
  height: 30px;
  margin: 5px;
}
.monster {
  background-color: yellow;
  height: var(--tile-height);
  width: var(--tile-width);
  position: absolute;
  font-size: 0px;
}

.monster-arena {
  width: 20rem;
  height: 20rem;
  background-color: crimson;
  list-style-type: none;
}

.monster-card {
  padding:5px;
  background-color:rgb(63, 6, 18);
  color: white;
}
.monster-card_info {
  display: flex;
  justify-content: space-around;
}
.throwBtn {
  position: relative;
  margin-top: -3rem;
}

.loot {
  display: none;
}
#inventory {
  max-height: 300px;
  overflow-y: scroll;
}
#inventory li {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  list-style: none;
}
#inventory li button {float: right;}
#inventory li li {
  border: none;
  margin-left: 3ch;
}
#inventory .weapon {
  background-color: #2f0000;
  color: white;
}
#inventory .armor {
  background-color: #12002f;
  color: white;
}

.player-equipment {
  display: flex;
  flex-direction:column
}
.player-equipment-row {
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.equipment-slot {
  background-color: blanchedalmond;
  width: 30px;
  height:30px;
  margin: 5px;
}

#equip-helm {
  background-image: url('helm_slot.png');
}
#equip-body {
  background-image: url('chest_slot.png');
}
#equip-legs {
  background-image: url('leg_slot.png');
}

#equip-lhand {
  background-image: url('lhand_slot.png');
}

#equip-rhand {
  background-image: url('rhand_slot.png');
}