

*{
    margin: 0;
    padding: 0;


    /* Global Variables */
    --tile-width: 15px;
    --tile-height: 15px;
}
.tileContainer {
  margin:0;
  padding:5px;
  display: flex;
  list-style: none;
}
.tile {
  
  background-color: green;
  height: var(--tile-height);
  width: var(--tile-width);
}
#player {
  background-color: red;
  position: absolute;
  height: var(--tile-height);
  width: var(--tile-width);
}

.monster {
  background-color: yellow;
  height: var(--tile-height);
  width: var(--tile-width);
  position: absolute;
  font-size: 0px;
}

.monster-arena {
  width: 20rem;
  height: 20rem;
  background-color: crimson;
  list-style-type: none;
}

.monster-card {
  padding:5px;
  background-color:rgb(63, 6, 18);
  color: white;
}
.monster-card_info {
  display: flex;
  justify-content: space-around;
}